@font-face {
  font-family: 'Geometria';
  src: url("/styles/fonts/Geometria-Regular.eot");
  src: local("Geometria Regular"), local("Geometria-Regular"), url("/styles/fonts/Geometria-Regular.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/Geometria-Regular.woff2") format("woff2"), url("/styles/fonts/Geometria-Regular.woff") format("woff"), url("/styles/fonts/Geometria-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria Thin';
  src: url("/styles/fonts/Geometria-Thin.eot");
  src: local("Geometria Thin"), local("Geometria-Thin"), url("/styles/fonts/Geometria-Thin.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/Geometria-Thin.woff2") format("woff2"), url("/styles/fonts/Geometria-Thin.woff") format("woff"), url("/styles/fonts/Geometria-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/styles/fonts/GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"), url("/styles/fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/GothamPro.woff2") format("woff2"), url("/styles/fonts/GothamPro.woff") format("woff"), url("/styles/fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Thin';
  src: url("/styles/fonts/GothamPro-Light.eot");
  src: local("Gotham Pro Light"), local("GothamPro-Light"), url("/styles/fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/GothamPro-Light.woff2") format("woff2"), url("/styles/fonts/GothamPro-Light.woff") format("woff"), url("/styles/fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("/styles/fonts/GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"), url("/styles/fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/GothamPro-Bold.woff2") format("woff2"), url("/styles/fonts/GothamPro-Bold.woff") format("woff"), url("/styles/fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #232324;
  margin: 0;
}

body .msngrImg {
  position: -webkit-sticky;
  position: sticky;
  top: 80%;
  right: 2%;
  float: right;
}

body header {
  background: url(/img/hdrBcgrnd.png);
  background-size: cover;
}

body header .conteiner {
  width: 950px;
  margin: 0 auto;
  padding-bottom: 245px;
}

body header .conteiner .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 39px 40px 0px 30px;
}

body header .conteiner .menu .siteSections button {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
  margin-right: 12px;
  font-family: 'Gotham Pro Thin';
  cursor: pointer;
}

body header .conteiner .menu .ntwrkLang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

body header .conteiner .menu .ntwrkLang button {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
  margin-left: 15px;
  font-family: 'Gotham Pro Thin';
  cursor: pointer;
}

body header .conteiner .menu .ntwrkLang .lang {
  text-align: left;
  width: 50px;
  background: url(/img/Line.png) no-repeat;
  background-position-x: 100%;
  font-family: 'Gotham Pro';
  cursor: pointer;
}

body header .conteiner .logoHdrBl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-top: 120px;
  margin: 0;
}

body header .conteiner .logoHdrBl img {
  width: 62px;
  margin: 0;
}

body header .conteiner .logoHdrBl .hdr {
  padding-top: 63px;
  margin: 0;
  color: #ffffff;
  text-align: center;
}

body header .conteiner .logoHdrBl .hdr h1 {
  font-size: 57pt;
  margin: 0;
  font-family: 'Geometria';
  font-weight: normal;
  font-style: normal;
}

body header .conteiner .logoHdrBl .hdr p {
  font-size: 14pt;
  margin: 0;
  font-family: 'Geometria Thin';
}

body header .conteiner .logoHdrBl button {
  background-color: transparent;
  border: 1px solid #FFDE17;
  color: #ffffff;
  padding: 6px 46px;
  margin-top: 42px;
  font-family: 'Geometria';
  cursor: pointer;
}

body .prjctsBl {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

body .prjctsBl .work {
  font-family: 'Gotham Pro Bold';
  font-size: 70pt;
  letter-spacing: 67px;
  color: #303030;
  margin-top: -37px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-right: 230px;
  font-weight: 900;
}

body .prjctsBl .projectsHdr {
  font-family: 'Gotham Pro Bold';
  cursor: pointer;
  margin-top: 105px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 400px;
  background-color: transparent;
  color: #ffde17;
  border: 0;
}

body .prjctsBl .prjct1 {
  background: url(/img/room1.png) no-repeat;
  background-size: 100% auto;
  height: 620px;
  width: 530px;
  margin-top: -130px;
}

body .prjctsBl .prjct1 .contentBl {
  float: right;
  padding-top: 220px;
  margin-right: -170px;
  color: #ffffff;
}

body .prjctsBl .prjct1 .contentBl h1 {
  font-family: 'Gotham Pro Bold';
  font-size: 18pt;
  line-height: 30px;
}

body .prjctsBl .prjct1 .contentBl p {
  font-family: 'Gotham Pro Thin';
  padding-top: 50px;
  font-size: 8pt;
  line-height: 15px;
}

body .prjctsBl .prjct1 .contentBl .arrowBl {
  padding: 100px 0px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .prjctsBl .prjct1 .contentBl .arrowBl .arr1 {
  width: 80px;
  height: 1px;
  background-color: #FFDE17;
}

body .prjctsBl .prjct1 .contentBl .arrowBl .arr2 {
  margin: -4px 0px 0px -9px;
  width: 10px;
  height: 1px;
  background-color: #FFDE17;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .prjctsBl .prjct2 {
  background-color: greenyellow;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: url(/img/room2.png) no-repeat;
  background-size: 100%;
  height: 620px;
  width: 530px;
  margin-top: -290px;
}

body .prjctsBl .prjct2 .contentBl {
  padding-top: 290px;
  margin-left: -120px;
  color: #ffffff;
}

body .prjctsBl .prjct2 .contentBl h1 {
  font-family: 'Gotham Pro Bold';
  font-size: 18pt;
  line-height: 30px;
}

body .prjctsBl .prjct2 .contentBl p {
  font-family: 'Gotham Pro Thin';
  padding-top: 50px;
  font-size: 8pt;
  line-height: 15px;
}

body .prjctsBl .prjct2 .contentBl .arrowBl {
  padding: 80px 0px 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .prjctsBl .prjct2 .contentBl .arrowBl .arr1 {
  width: 80px;
  height: 1px;
  background-color: #FFDE17;
}

body .prjctsBl .prjct2 .contentBl .arrowBl .arr2 {
  margin: -4px 0px 0px -9px;
  width: 10px;
  height: 1px;
  background-color: #FFDE17;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .prjctsBl .allProjects {
  margin: -120px 0px 110px 280px;
  font-family: 'Gotham Pro';
  color: #ffffff;
  font-size: 11pt;
  padding-bottom: 10px;
  border: 1px solid #ffffff;
  width: 100px;
  text-align: center;
  border-bottom-color: #ffffff;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  cursor: pointer;
}

body .aboutHdr {
  font-family: 'Gotham Pro Bold';
  font-size: 70pt;
  letter-spacing: 71px;
  color: #303030;
  padding: 80px 0px 90px 280px;
}

body .weBl {
  background: url(/img/bro.png);
  height: 460px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 65px 260px 0px 0px;
}

body .weBl .hdrArrBl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 0px 280px;
}

body .weBl .hdrArrBl h1 {
  color: #ffde17;
  font-family: 'Gotham Pro Bold';
  cursor: pointer;
  font-size: 36px;
}

body .weBl .hdrArrBl .arrowBl {
  padding: 340px 0px 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .weBl .hdrArrBl .arrowBl .arr1 {
  width: 80px;
  height: 1px;
  background-color: #FFDE17;
}

body .weBl .hdrArrBl .arrowBl .arr2 {
  margin: -4px 0px 0px -9px;
  width: 10px;
  height: 1px;
  background-color: #FFDE17;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .weBl .hdrArrBl p {
  font-size: 8pt;
  font-family: 'Gotham Pro Thin';
  padding: 15px 0px 0px 5px;
}

body .weBl p {
  font-family: 'Gotham Pro';
  font-size: 27pt;
  color: #ffffff;
  padding-left: 300px;
}

body .cntctsBl .lifeHdr {
  font-family: 'Gotham Pro Bold';
  font-size: 70pt;
  letter-spacing: 71px;
  color: #303030;
  padding: 100px 0px 0px 280px;
}

body .cntctsBl .linkAndHshtg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 60px 0px 0px 290px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cntctsBl .linkAndHshtg a {
  color: #ffde17;
  font-size: 26pt;
  text-decoration: none;
  font-family: 'Gotham Pro Bold';
}

body .cntctsBl .linkAndHshtg p {
  color: #ffffff;
  padding-left: 20px;
  font-family: 'Gotham Pro';
  font-size: 19px;
}

body .cntctsBl .photoBl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-top: 32px;
}

body .cntctsBl .photoBl img {
  width: 144px;
}

body .cntctsBl .photoBl .moreBl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0px 0px 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

body .cntctsBl .photoBl .moreBl .arrowBl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .cntctsBl .photoBl .moreBl .arrowBl .arr1 {
  width: 80px;
  height: 1px;
  background-color: #FFDE17;
}

body .cntctsBl .photoBl .moreBl .arrowBl .arr2 {
  margin: -4px 0px 0px -9px;
  width: 10px;
  height: 1px;
  background-color: #FFDE17;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .cntctsBl .photoBl .moreBl p {
  font-size: 8pt;
  font-family: 'Gotham Pro Thin';
  padding: 15px 0px 0px 5px;
  color: #ffffff;
}

body .lastBl {
  padding: 100px 0px 0px 280px;
}

body .lastBl .sayMoreBl h1 {
  font-family: 'Gotham Pro Bold';
  font-size: 70pt;
  letter-spacing: 71px;
  color: #303030;
}

body .lastBl .sayMoreBl .media {
  padding-top: 75px;
}

body .lastBl .sayMoreBl .media .mailBl a {
  font-family: 'Gotham Pro';
  text-decoration: none;
  font-size: 50px;
  color: #ffffff;
}

body .lastBl .sayMoreBl .media .mailBl p {
  font-size: 12px;
  padding-top: 10px;
  font-family: 'Gotham Pro Thin';
  color: #ffffff;
}

body .lastBl .sayMoreBl .media .tlgrmBl {
  padding-top: 25px;
}

body .lastBl .sayMoreBl .media .tlgrmBl a {
  font-family: 'Gotham Pro';
  text-decoration: none;
  font-size: 50px;
  color: #ffffff;
}

body .lastBl .sayMoreBl .media .tlgrmBl p {
  font-size: 12px;
  padding-top: 10px;
  font-family: 'Gotham Pro Thin';
  color: #ffffff;
}

body .lastBl .sayMoreBl .media .fcInstBl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 65px;
}

body .lastBl .sayMoreBl .media .fcInstBl .fc a {
  font-family: 'Gotham Pro';
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
}

body .lastBl .sayMoreBl .media .fcInstBl .fc p {
  font-size: 12px;
  padding-top: 10px;
  font-family: 'Gotham Pro Thin';
  color: #ffffff;
}

body .lastBl .sayMoreBl .media .fcInstBl .inst {
  padding-left: 30px;
}

body .lastBl .sayMoreBl .media .fcInstBl .inst a {
  font-family: 'Gotham Pro';
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
}

body .lastBl footer {
  padding: 135px 285px 110px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  font-family: 'Gotham Pro Thin';
  font-size: 8pt;
}

body .lastBl footer .createdBl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

body .lastBl footer .createdBl img {
  width: 20px;
  margin: -10px 0px 0px 15px;
}
/*# sourceMappingURL=main.css.map */